<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h2><%= page %></h2><br>
  <div class="row">
    <div class="col-sm-4">
      <h4>Service capability measure</h4>
      
    </div>
    <div class="col-sm-4">
      <h4>Compute operations Rating</h4>
      
    </div>
    <div class="col-sm-4">
      <h4>File operations Rating</h4>
      
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>